<nav *ngIf="showNavbar" class="custom-navbar">

<!-- LEFT SECTION -->
<div class="left-section">

<!-- LOGO -->
<div class="logo img" [routerLink]="['/dashboard']">
<img src="assets/images/logo1.png" alt="logo">
<!-- <span>Medcore</span> -->
</div>

<!-- HOSPITAL LINKS (LEFT SIDE) -->
<ul class="nav-links left-links" *ngIf="roleName === 'HOSPITAL'">
<li><a [routerLink]="['/createhospital']">Create Hospital</a></li>
<li><a [routerLink]="['/schedule-maintenance']">Maintenance</a></li>
<li><a [routerLink]="['/requestequipment']">Equipment</a></li>
</ul>

<!-- TECHNICIAN -->
<ul class="nav-links left-links" *ngIf="roleName === 'TECHNICIAN'">
<li><a [routerLink]="['/maintenance']" >Maintenance</a></li>
</ul>

<!-- SUPPLIER -->
<ul class="nav-links left-links" *ngIf="roleName === 'SUPPLIER'">
<li><a [routerLink]="['/orders']" >Orders</a></li>
</ul>

</div>



<!-- RIGHT SECTION -->
<div class="right-section">

<!-- DASHBOARD LINKS ONLY -->
<ul class="nav-links" *ngIf="!IsLoggin">
<li><a href="#home">Home</a></li>
<li><a href="#about">About</a></li>
<li><a href="#contact">Contact</a></li>
</ul>

<!-- LOGOUT -->
<button *ngIf="IsLoggin" class="logout-btn" (click)="logout()">
Logout
</button>

</div>

</nav>

<!-- Page Content -->
<div class="main-container">
  <router-outlet></router-outlet>
</div>