<nav *ngIf="showNavbar" class="custom-navbar">

  <!-- Logo -->
  <div class="logo"><a style="color: black; text-decoration: none;" [routerLink]="['/dashboard']" >✱ Medcore</a></div>

  <!-- Left Links -->
  <ul class="nav-links">

    <li *ngIf="roleName === 'HOSPITAL'">
      <a [routerLink]="['/createhospital']">Create Hospital</a>
    </li>

    <li *ngIf="roleName === 'HOSPITAL'">
      <a [routerLink]="['/schedule-maintenance']">Scheduled Maintenance</a>
    </li>

    <li *ngIf="roleName === 'HOSPITAL'">
      <a [routerLink]="['/requestequipment']">Request Equipment</a>
    </li>

    <li *ngIf="roleName === 'TECHNICIAN'">
      <a [routerLink]="['/maintenance']">Maintenance</a>
    </li>

    <li *ngIf="roleName === 'SUPPLIER'">
      <a [routerLink]="['/orders']">Orders</a>
    </li>

  </ul>

  <!-- Right Side -->
  <div class="right-section">

    <!-- Search
    <div class="icon">:mag:</div> -->

    <!-- Login/Logout -->
    <div *ngIf="!IsLoggin" class="nav-btn">
      <a [routerLink]="['/login']">Login</a>
    </div>

    <div *ngIf="IsLoggin" class="nav-btn" (click)="logout()">
      Logout
    </div>

    

  </div>

</nav>

<!-- Page Content -->
<div class="main-container">
  <router-outlet></router-outlet>
</div>