<div class="page-wrapper">

  <!-- BACKGROUND BLUR -->
  <div class="bg-blur"></div>
  <div class="bg-blur second"></div>

  <div class="register-card">
    <a routerLink="/dashboard" class="dashboard-link">
  ⬅ Back to Dashboard
</a>
    <h1>Create Account</h1>
    <p class="subtitle">Register to continue</p>

    <!-- SUCCESS MESSAGE -->
    <div class="success-msg" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <form [formGroup]="itemForm" (ngSubmit)="onRegister()">

      <!-- USERNAME -->
      <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="username">

        <small class="error" *ngIf="itemForm.get('username')?.touched && itemForm.get('username')?.errors">
          <span *ngIf="itemForm.get('username')?.errors?.['required']">Username is required</span>
          <span *ngIf="itemForm.get('username')?.errors?.['minlength']">Minimum 6 characters required</span>
          <span *ngIf="itemForm.get('username')?.errors?.['pattern']">Only alphabets allowed</span>
        </small>
      </div>

      <!-- EMAIL -->
      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email">

        <small class="error" *ngIf="itemForm.get('email')?.touched && itemForm.get('email')?.errors">
          <span *ngIf="itemForm.get('email')?.errors?.['required']">Email is required</span>
          <span *ngIf="itemForm.get('email')?.errors?.['email']">Invalid email format</span>
        </small>
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password">

        <small class="error" *ngIf="itemForm.get('password')?.touched && itemForm.get('password')?.errors">
          <span *ngIf="itemForm.get('password')?.errors?.['required']">Password is required</span>
          <span *ngIf="itemForm.get('password')?.errors?.['minlength']">Minimum 8 characters required</span>
          <span *ngIf="itemForm.get('password')?.errors?.['pattern']">
            Must contain uppercase, lowercase, number
          </span>
        </small>
      </div>

      <!-- ROLE -->
<div class="form-group">
  <label>Role</label>
  <select formControlName="role">
    <option value="">Select Role</option>
    <option *ngFor="let r of roles" [value]="r">{{r}}</option>
  </select>
  <small class="error" *ngIf="itemForm.get('role')?.touched && itemForm.get('role')?.errors">
    Role is required
  </small>
</div>
  <!-- HOSPITAL FIELDS: name + location -->
<ng-container *ngIf="itemForm.get('role')?.value === 'HOSPITAL'">
  <div class="form-group">
    <label>Hospital Name</label>
    <input type="text" formControlName="hospitalName">
    <small class="error" *ngIf="itemForm.get('hospitalName')?.touched && itemForm.get('hospitalName')?.errors">
      Hospital name is required
    </small>
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" formControlName="location">
    <small class="error" *ngIf="itemForm.get('location')?.touched && itemForm.get('location')?.errors">
      Location is required
    </small>
  </div>
</ng-container>

<!-- SUPPLIER / TECHNICIAN: full name only -->
<ng-container *ngIf="itemForm.get('role')?.value === 'SUPPLIER' || itemForm.get('role')?.value === 'TECHNICIAN'">
  <div class="form-group">
    <label>Full Name</label>
    <input type="text" formControlName="fullName">
    <small class="error" *ngIf="itemForm.get('fullName')?.touched && itemForm.get('fullName')?.errors">
      Full name is required
    </small>
  </div>
</ng-container>
        

      <button type="submit" class="register-btn">Register</button>
    </form>

    <p class="footer-text">
      Already have an account?
      <a (click)="goToLogin()">Login</a>
    </p>

  </div>
</div>