<div class="container-fluid mt-3">
 
  <h2 class="mb-4" style="font-weight: 500;">Manage Maintenance</h2>

  <div class="info-header mb-2">
    Maintenance Information
  </div>

  <div class="table-responsive">
    <table class="table custom-table">
      <thead>
        <tr>
          <th>Sr#</th>
          <th>Scheduled Date</th>
          <th>Completion Date</th>
          <th>Status</th>
          <th>Equipment</th>
          <th>Hospital</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of maintenanceList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.scheduled_date | date:'dd-MMM-yyyy' }}</td>
          <td>{{ item.completed_date | date:'dd-MMM-yyyy' }}</td>
          <td>{{ item.status }}</td>
         
          <td>
            <div class="nested-info">Id:{{ item.equipment?.id || item.equipment_id }}</div>
            <div class="nested-info">Name:{{ item.equipment?.name }}</div>
            <div class="nested-info text-muted">Description:{{ item.equipment.description }}</div>
          </td>
        
          <td>
            <div class="nested-info">Id:{{ item.hospital?.id || item.hospital_id || "N/A"}}</div>
            <div class="nested-info">Name:{{ item.hospital?.name }}</div>
            <div class="nested-info text-muted">Description:</div>
          </td>
          <td>
            <button class="btn btn-warning btn-sm edit-btn" (click)="edit(item)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="modal-overlay" *ngIf="maintenanceObj?.id">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Update Maintenance</h5>
   
      <button type="button" class="btn-close" (click)="maintenanceObj = {}"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="itemForm" (ngSubmit)="update()">
        <div class="mb-3">
          <label class="form-label">Scheduled Date:</label>
          <input type="date" class="form-control" formControlName="scheduledDate">
        </div>

        <div class="mb-3">
          <label class="form-label">Completed Date:</label>
          <input type="date" class="form-control" formControlName="completedDate">
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
       
          <textarea class="form-control" formControlName="description"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Status</label>
          <select class="form-select" formControlName="status">
            <option value="Initiated">Initiated</option>
            <option value="Complete">Complete</option>
          </select>
        </div>

        <div class="mt-4">
          <button type="submit" class="btn btn-outline-dark px-4" [disabled]="itemForm.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>






