<div class="page-wrapper">

  <!-- Background Blur -->
  <div class="bg-blur"></div>
  <div class="bg-blur second"></div>

  <!-- Particles (kept) -->
  <div class="particles-container">
    <div class="particle" *ngFor="let p of particles; let i = index"
      [style.--delay]="i * 0.1 + 's'"></div>
  </div>

  <div class="login-card">
    <a routerLink="/dashboard" class="dashboard-link">
  ⬅ Back to Dashboard
</a>
    <h1>Login</h1>
    <p class="subtitle">Access your account</p>

    <form [formGroup]="itemForm" (ngSubmit)="onLogin()">

      <!-- USERNAME -->
      <div class="form-group">
        <label>Username</label>
        <input type="email" formControlName="username">

        <small class="error"
          *ngIf="itemForm.get('username')?.touched && itemForm.get('username')?.errors">
          <span *ngIf="itemForm.get('username')?.errors?.['required']">
            Username is required
          </span>
          <span *ngIf="itemForm.get('username')?.errors?.['email']">
            Enter valid email
          </span>
        </small>
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label>Password</label>
        <div class="password-field">
          <input [type]="showPassword ? 'text' : 'password'"
            formControlName="password">

          <button type="button" (click)="togglePassword()" class="eye-btn">
            👁
          </button>
        </div>

        <small class="error"
          *ngIf="itemForm.get('password')?.touched && itemForm.get('password')?.errors">
          <span *ngIf="itemForm.get('password')?.errors?.['required']">
            Password is required
          </span>
        </small>
      </div>

      <!-- CAPTCHA -->
      <div class="form-group">
        <label>Captcha</label>
        <div class="captcha-box">
          {{ captchaQuestion }}
        </div>
        <input type="text" formControlName="captchaAnswer"
          placeholder="Enter captcha answer">
      </div>

      <!-- ERROR -->
      <div class="error-msg" *ngIf="showError">
        {{ errorMessage }}
      </div>

      <!-- BUTTON -->
      <button type="submit" [disabled]="isLoading" class="login-btn">
        <span *ngIf="!isLoading">Login</span>
        <div class="loader" *ngIf="isLoading">
          <span></span><span></span><span></span>
        </div>
      </button>

    </form>

    <p class="footer-text">
      New here? <a (click)="registration()">Create account</a>
    </p>

  </div>
</div>